profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'gpu'
        process.cpus = 16
        process.memory = '64 GB'
        process.time = '48h'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/hdd4/sines/singularity_cache'
}

workDir = '/hdd4/sines/advancedcomputationalbiology/sara.sines/hg002_variant_project/work'
params.outdir = '/hdd4/sines/advancedcomputationalbiology/sara.sines/hg002_variant_project/results'
cleanup = false
